# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# SE project
**/build/
**/build-target/
**/dist/
**/temp/
**/.gradle/
**/proguard/
**/nbproject/private/

**/*.log
**/*.log
**/OpenAL64.dll
**/bulletjme.dll
**/lwjgl64.dll

/lib-source/
/tools/
